@use '../../global/styles/variables' as v;

.form {
    &-group {
    position: relative;

    &_input {
      height: 35px;
      max-width: 226px;
      width: 40vw;
      outline: none;
      border-radius: 5px;
      border: 1px solid grey;
      padding-left: v.$gap-1;

      &[type="date" i] {
        font-weight: lighter;
        color: rgba(grey, 0.6);

        &.touched {
          color: inherit;
        }
      }
    }

    &_label {
      font-weight: lighter;
      color: grey;
      position: absolute;
      top: 7px;
      left: 8px;
      transition: 0.15s all ease-out;
    }

    &.active {
      .form-group_input {
        border: 1px solid v.$brand-color-dark;
      }

      .form-group_label {
        top: -10px;
        font-size: 12px;
        background-color: white;
        width: auto;
        color: v.$brand-color-darker;
        font-weight: bold;
        text-align: left;
        padding: 0 10px 0 5px;
        border-radius: 7px 7px 0 0;
        left: 1px;
        transition: 0.15s all ease-out;
      }
    }
  }
}