.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../../assets/images/hero-1400px-d1a3e656.jpg') no-repeat center / cover;

  .no-expenses {
    color: white;
    font-weight: bold;
  }
}