@import '../../global/styles/variables';

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include backdrop('../../assets/images/hero-1400px-d1a3e656.jpg');

  .no-expenses {
    color: white;
    font-weight: bold;
  }
}