@use '../../global/styles/variables' as v;

table {
    position: relative;
    max-width: 50vw;
    width: 100%;
    border: none;
    border-spacing: 0;
    max-height: 50vh;
    display: block;
    overflow: auto;

    -ms-overflow-style: none;   // IE and Edge
    scrollbar-width: none;      // Firefox
    // Hide scrollbar for Webkit browsers (Chrome, Safari)
    &::-webkit-scrollbar {
        display: none;
    }
    

    & > * {
        border-spacing: 0px;
    }

    thead, tbody {
        // display: block;
        width: 100%;
    }
    
    thead {
        background-color: v.$brand-color-dark;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    tbody {
        position: inherit;
        tr:nth-child(odd) {
            background-color: v.$brand-color-lighter;
        }

        tr:nth-child(even) {
            background-color: white;
        }
    }

    th, td {
        padding: v.$gap-1 v.$gap-2;
    }
    
    tr, th, td {
        width: 26%;
    }
}